* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

[v-cloak] {
	display: none;
}

body {
	background-color: rgb(247, 247, 252);
	font-family: Arial, Helvetica, sans-serif;
}

header {
	background-color: white;
	margin-bottom: 30px;
}

/* IMMAGINE + SCRITTA */
.logo {
	padding: 20px 10px;
	margin-left: 20px;
}

.logo-img {
	width: 55px;
	vertical-align: middle;
}

.logo-text {
	font-size: 45px;
	font-family: Arial, Helvetica, sans-serif;
	display: inline;
	vertical-align: middle;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
	padding: 30px;
}

.button-section {
	background-color: white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 20px 40px;
	margin-bottom: 5px;
}

#addTodo {
	padding: 10px 15px;
	margin-right: 10px;
	font-size: 18px;
}

.add-task {
	font-size: 18px;
	display: inline-block;
	background-color: rgb(63, 162, 255);
	border: 1px solid rgb(63, 162, 255);
	color: white;
	padding: 10px 15px;
	/* border-radius: 6px; */
	cursor: pointer;
	user-select: none;
}

.list-section {
	background-color: white;
	padding: 20px 40px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.todolist {
	list-style-type: none;
	line-height: 2.5;
}

.todolist li {
	position: relative;
	border-bottom: 1px solid black;
}

.task {
	padding: 0 10px;
	font-weight: normal;
	font-size: 20px;
	display: inline-block;
	margin-right: 10px;
}

.done {
	min-width: 35%;
	background-color: rgb(16, 192, 69, 0.5);
}

.notDone {
	min-width: 35%;
	background-color: rgba(255, 0, 0, 0.5);
	text-decoration-color: rgb(255, 0, 0);
	text-decoration-thickness: 3px;
	text-decoration-line: line-through;
}

.todolist li i {
	font-size: 16px;
	color: rgb(255, 0, 0);
	position: absolute;
	right: 10px;
	top: 17.5px;
	cursor: pointer;
}
